*,
*::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 3rem;
}

body {
  font-family: sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
input {
  background: none;
  border: none;
}

.h2 {
  color: rgb(0, 255, 238);
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}

.loading-animation {
  display: grid;
  place-content: center;
  height: 100vh;
}

.anime-list-wrap {
  position: relative;

  .view-more-btn {
    background-color: blueviolet;
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 8rem;
    height: 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;

    cursor: pointer;
    a {
      color: white;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

.side-page {
  position: relative;
  .view-more-btn {
    background-color: blueviolet;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 8rem;
    height: 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;

    cursor: pointer;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

@media (min-width: 600px) {
  .anime-list-wrap {
    position: relative;

    .view-more-btn {
      background-color: blueviolet;
      position: absolute;
      bottom: 0;
      left: 40%;
      width: 8rem;
      height: 2rem;
      border-radius: 0.5rem;
      font-size: 1rem;

      cursor: pointer;
      a {
        color: white;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  .side-page {
    position: relative;
    .view-more-btn {
      background-color: blueviolet;
      font-weight: 600;
      position: absolute;
      bottom: 0;
      left: 40%;
      width: 8rem;
      height: 2rem;
      border-radius: 0.5rem;
      font-size: 1rem;

      cursor: pointer;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}

@media (min-width: 1024px) {
  main {
    padding-top: 0;
  }
  .homepage-container {
    display: flex;
    gap: 4rem;
  }
}
