.h2.for-genre {
  margin-top: 3rem;
  padding-bottom: 0;
}

.side-page.for-genre {
  height: 100%;

  .anime-list-main-2.for-genre {
    &::after {
      display: none;
    }
  }
}

.btn-wrap {
  margin-block: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  .next-btn,
  .prev-btn {
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    background-color: blueviolet;
    text-align: center;
    cursor: pointer;

    &:hover,
    :focus {
      box-shadow: 0 0 10px blueviolet;
      background-color: rgb(153, 72, 229);
    }
    &:active {
      box-shadow: 0 0 15px rgb(255, 255, 255);
      background-color: rgb(171, 114, 225);
    }
  }
}

.loading-animation {
  height: 100%;
}

@media (min-width: 1280px) {
  .side-page.for-genre {
    .anime-list-main-2.for-genre {
      grid-template-columns: repeat(6, auto);
      max-width: 1280px;
    }
  }
}
