$blue: blueviolet;

.header {
  position: fixed;
  background-color: $blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100vw;
  padding-inline: 1rem;
  top: 0;
  left: 0;
  z-index: 99999;

  .icon {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    position: relative;

    &::after {
      content: "69";
      top: 0;
      position: absolute;
      font-size: 1rem;
    }
  }
}

@media (min-width: 1028px) {
  .header {
    justify-content: space-evenly;
  }
}
