.search-section {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  padding: 1rem;
  padding-top: 4rem;

  input {
    background-color: rgb(255, 255, 255, 0.15);
    padding: 1rem 3rem;
    border-radius: 0.5rem 0 0 0.5rem;
    color: white;
    outline: none;
  }
  .btn {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    padding: 1rem 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;

    &:hover {
      background-color: rgb(152, 71, 228);
    }
    &:active {
      background-color: rgb(179, 127, 228);
    }
  }
}

@media (min-width: 475px) {
  .search-section {
    // max-width: 100%;
  }
}
@media (min-width: 600px) {
  .search-section {
    // max-width: 600px;

    input {
      width: 25rem;
    }
  }
}
@media (min-width: 1024px) {
  .search-section {
    // max-width: 600px;

    input {
      width: 40rem;
      padding-block: 1rem;
    }
  }
}
